.HackerListItem {
  padding: 2rem;
  display: block;
  &:nth-child(even) {
    background: #f8f9fa;
  }

  .news-title {
    a {
      cursor: pointer;
      color: black;
      text-decoration: none;
      font-weight: bold;
      font-size: 2.5rem;
      &:hover {
        color: #61dafb;
      }
    }
  }

  .news-info {
    display: flex;
    align-items: center;
    font-size: 1.15rem;

    .news-url {
      display: flex;
      align-items: center;
      flex-direction: row;
      padding-right: 0.7rem;
      svg {
        padding-right: 0.1rem;
      }
    }
    .news-time {
      display: flex;
      align-items: center;
      flex-direction: row;
      padding-right: 0.7rem;
      svg {
        padding-right: 0.1rem;
      }
    }
    .news-comments {
      display: flex;
      align-items: center;
      flex-direction: row;
      svg {
        padding-right: 0.1rem;
      }
    }
  }

  & {
    border-bottom: 1px solid #dee2e6;
  }
}