.Paginator {
  display: flex;
  font-size: 1.25rem;
  margin: 2em 0;
  justify-content: center;

  li {
    list-style: none;
  }

  li + li {
    margin-left: 0.5em;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    cursor: pointer;
    outline: none;
  }

  .active {
    background-color: #61dafb;
    color: white;
  }

  .prev-link, .next-link {
    background-color: #eee;
  }
}